.banner{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    background-color: var(--cinza-escuro);
    overflow: hidden;
}

.banner__imagem{
    width: 45%;
    align-self: flex-end;
    margin-right: 6rem;
    margin-top: -12rem;
    margin-bottom: 4rem;
}

.banner__titulo{
    font-size: 3rem;
    width: 32rem;
    font-weight: 700;
    color: var(--azul);
    margin-left: 6rem;
    padding-top: 4rem;
}

.banner__subtitulo{
    font-size: 2rem;
    width: 25rem;
    color: var(--azul);
    margin-left: 6rem;
    margin-top: 1rem;
}

@media screen and (max-width: 1200px) {

    .banner__titulo{
        width: 30rem;
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 1040px) {

    .banner__titulo{
        margin-left: 1.5rem;
    }
    
    .banner__subtitulo{
        margin-left: 1.5rem;
    }

    .banner__imagem{
        margin-right: 1.5rem;
    }

}

@media screen and (max-width: 805px) {

    .banner__titulo{
        margin-left: 1.5rem;
        width: 90%;
        max-width: 30rem;
        font-size: 2rem;
    }
    
    .banner__subtitulo{
        margin-left: 1.5rem;
        width: 80%;
        max-width: 25rem;
        font-size: 1.5rem;
    }

    .banner__imagem{
        width: 80%;
        max-width: 25rem;
        margin: 3rem auto 3rem auto;
    }

}