.portifolio{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {

    .portifolio{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

}